*{
    box-sizing: border-box; /*учитывает любое значенние границ и отступов, которое я указываю*/
}

a{
    text-decoration: none;
    display: inline-block; /*обычно ссылки строчно-блочные*/
}

ul,
li{
    list-style: none;  /*отключила маркеры*/
    margin: 0;
    padding: 0;
}