*{
    box-sizing: border-box; /*учитывает любое значенние границ и отступов, которое я указываю*/
}

a{
    text-decoration: none;
    display: inline-block; /*обычно ссылки строчно-блочные*/
}

ul,
li{
    list-style: none;  /*отключила маркеры*/
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto; /*центрирую*/
    padding: 0 15px; /*верх низ - нет отступа, лево право - 15px(чтобы не прилипало)*/
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
    /* font-family: 'Roboto', sans-serif; */
}

.header_top{
header {
    font-family: 'Roboto', sans-serif;
}
    background-color: #303030;
.header_btn {
    float: right;
    line-height: 36px;
    /*высота строки*/
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    display: block;
}
.header_contacts:after {
    /*самоочистка дочерних элементов, чтобы плавающий элемент(текст) в кнопке мог изменять размер и норм себя чувствовал*/
    content: "";
    clear: both;
    /*перемещается чтобы очистить левые и правые поплавки(..стороны)*/
    display: block;
}
.header_phone,
.header_email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    /*расстояние между буквами*/
    line-height: 45px;
    /*высота строки*/
}
}
    padding-left: 20px;
    padding-right: 30px;
}

    padding-left: 24px;
}

