*{
    box-sizing: border-box; /*учитывает любое значенние границ и отступов, которое я указываю*/
}

a{
    text-decoration: none;
    display: inline-block; /*обычно ссылки строчно-блочные*/
}

ul,
li{
    list-style: none;  /*отключила маркеры*/
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto; /*центрирую*/
    padding: 0 15px; /*верх низ - нет отступа, лево право - 15px(чтобы не прилипало)*/
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
    /* font-family: 'Roboto', sans-serif; */
}

.header_top{
    background-color: #303030;
}